/*cssestilos.css*/
/*resetas basicos*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /*esta regla elimina los margenes y el relleno predeterminados de todos los elementos y establece el modelo 
    de caja para incluir el relleno y el borde en el ancho y alto del elemento */

}
body{
    font-family: Arial,sans-serif;
    color:#d48787;
    background-color:rgb(238, 240, 220)
    /*Esta regla define la fuente y el color del texto en el cuerpo del documento*/
}
h2{
    color: #171717;
    font-size: 32px;
    text-align: center;
}
/*esta regla define la fuente y el color del texto */
h1{
    color: #f28282;
    font-size: 32px;
    text-align: center;

}
